*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FAF0D8;
    display: flex;
    justify-content: center;
}
.result{
    border-style: solid;
    width: 70vw;
}
.top-result{
    border-bottom-style: solid;
    display: flex;
    justify-content: center;
}
input[type="submit"]{
    background-color: transparent;
    border-style: none;
    color: red;
    font-weight: bold;
}
span{
    font-weight: bold;
}
h4{
    text-align: center;
    color: red;
}